<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="max-width:900px;margin:0 auto;padding:14px;">
<div th:replace="fragments/admin-header :: adminHeader"></div>

<h2>Dashboard</h2>

<p>
  Şu ana kadar <b th:text="${#numbers.formatDecimal(totalRevenue, 1, 2)}"></b> dolar satın alım gerçekleşti.
</p>

<ul>
  <li>Toplam office sayısı: <b th:text="${totalOffices}"></b></li>
  <li>Toplam user sayısı: <b th:text="${totalUsers}"></b></li>
</ul>

<form th:action="@{/admin/logout}" method="post" style="margin-top:16px;">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <button type="submit">Logout</button>
</form>

</body>
</html>
