<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>All Reservations</h2>

<table border="1">
    <tr>
        <th>Office</th>
        <th>User</th>
        <th>Start</th>
        <th>End</th>
        <th>Total Price</th>
        <th>Action</th>
    </tr>

    <tr th:each="r : ${reservations}">
        <td th:text="${r.office.name}"></td>
        <td th:text="${r.user.email}"></td>
        <td th:text="${r.startDate}"></td>
        <td th:text="${r.endDate}"></td>
        <td th:text="${r.totalPrice}"></td>
        <td>
            <form th:action="@{/admin/reservations/{id}/delete(id=${r.id})}" method="post">
                <form th:action="@{/admin/reservations/{id}/delete(id=${r.id})}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <button type="submit">Delete</button>
</form>
            </form>
        </td>
    </tr>
</table>

<a href="/admin">Back to Admin Home</a>

</body>
</html>
