<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <h2>Pending Offices</h2>
<a href="/admin">Back to Admin Home</a>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

        <tr th:each="office : ${offices}">
            <td th:text="${office.name}"></td>
            <td th:text="${office.address}"></td>
            <td th:text="${office.dailyPrice}"></td>
            <td>
                <form th:action="@{/admin/offices/{id}/approve(id=${office.id})}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit">Approve</button>
                </form>

                <form th:action="@{/admin/offices/{id}/reject(id=${office.id})}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit">Reject</button>
                </form>

            </td>
        </tr>
    </table>

    <a href="/admin/logout">Logout</a>
</body>

</html>